div.row
	div.col-md-4.table-bordered
		pm-search-launcher
div.row
	div.col-md-4.table-bordered
		pm-search-launcher
br/
div.row
	div.col-md-6.table-bordered
		pm-capture-list
	div.col-md-6.table-bordered
		pm-capture-list-db
